#footer {
  background: #fff;
  margin-top: 0;
  padding: 100px 0 13px;
  position: relative;
}
#footer div {
  text-align: center;
}
#footer div a {
  color: #333;
  padding: 0 10px;
}
#footer p {
  padding: 10px;
  color: #757575;
  text-align: center;
}
#footer p a {
  color: #757575;
}
