@charset "utf-8";
.wrap {
  position: relative;
  margin-left: -2000px;
  margin-right: -2000px;
  text-align: center;
  font-size: 16px;
}
.wrap > img {
  vertical-align: top;
}
#header .wrap .container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 0;
  width: 1920px;
  z-index: 2;
}
#header .wrap .container .logo {
  width: 196px;
  height: 60px;
  position: absolute;
  cursor: pointer;
  left: 350px;
}
#header .wrap nav {
  width: 1200px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
#header .wrap nav ul {
  float: right;
}
#header .wrap nav ul li {
  float: left;
}
#header .wrap nav ul li > a {
  display: block;
  padding: 20px 10px 0;
  color: #fff;
}
#header .wrap nav ul li > a:hover {
  text-decoration: underline;
}
#header .wrap nav ul li .unlogin {
  padding: 20px 0 0 40px;
  overflow: hidden;
}
#header .wrap nav ul li .unlogin img {
  padding-right: 12px;
  float: left;
  margin-top: 6px;
}
#header .wrap nav ul li .unlogin a {
  margin-right: 8px;
  color: #fff;
  float: left;
}
#header .wrap nav ul li .unlogin p {
  float: left;
}
#header .wrap nav ul li .unlogin p:before {
  content: "";
  display: block;
  float: left;
  width: 1px;
  height: 16px;
  background: #fff;
  margin: 6px;
}
#ad .container {
  margin: 0 auto;
}
